@page
@model TechInventory.Pages.Device.IndexModel
@{
    ViewData["Title"] = "Dispositivos";
}

<h2 class="mb-5">Dispositivos Cadastrados</h2>

@foreach (var device in Model.Devices)
{
    <div class="container">
        <div class="d-flex flex-row mb-2">
            <h1>@device.Name</h1>
            <p>@device.Status</p>
        </div>
    </div>
}
