@page
@model TechInventory.Pages.Brand.CreateModel
@{
    ViewData["Title"] = "Cadastrar Marca";
}

<h2 class="mb-5">Cadastrar Marca</h2>

<form method="post" asp-page-handler="Create">
    <div class="form-group mb-3">
        <label asp-for="NewBrand.Name" class="mb-3">Nome da marca</label>
        <input asp-for="NewBrand.Name" class="form-control" />
        <span asp-validation-for="NewBrand.Name" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="Cadastrar" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}